- content_for(:head) do
  = stylesheet_link_tag 'jquery-ui-1.8.15.custom.css'
  = javascript_include_tag 'jquery-ui-1.8.15.custom.min.js'
%h1 Listing Element Types

#accordion
  =show_element_content(@element_types, @site)