.area_container {
  overflow:hidden;
  .field {
    float:left;
    width:635px;
  }
  .tips {
    float:right;
    width:250px;
    h3 {
      margin-left:20px;
    }
    li {
      margin:5px 0;
      line-height:22px;
    }
  }
}