.area_container {
  overflow:hidden;
  .field {
    float:left;
    width:635px;
    textarea {
      width:635px;
    }
  }
  .tips {
    float:right;
    width:250px;
    h3 {
      margin-left:20px;
    }
    li {
      margin:5px 0;
      line-height:22px;
    }
  }
}

.view {
  position:relative;
  pre {
    white-space:pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    width:70%;
    padding-right:10px;
    span.to_change {
      background-color:#ffb8c9;
    }
  }
  .note {
    padding:0 8px;
    width:150px;
    left:-175px;
    z-index:2;
    p, a {
      margin:0;
      font-weight:bold;
    }
    p, cite, a {
      font-size:10px;
      line-height:10px;
    }
    a {
      float:right;
      cursor:pointer;
    }
  }
  .new_note, .note_line, .note {
    position:absolute;
  }
  .note, .new_note {
    border:1px solid #ffb8c9;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    background-color:#fff;
  }
  .note_line {
    left:-7px;
    border-top:1px solid #ffb8c9;
    height:1px;
  }
  .new_note {
    width:180px;
    height:180px;
    fieldset {
      border:0;
    }
  }
  
}
