// Place all the styles related to the Sites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color:#B5E0AD;
}

.container {
  width:900px;
  margin:30px auto;
  border:1px solid black;
  background:white;
  padding:0px 30px 20px;
}

.logo a:hover, .logo a {
  text-decoration:none;
  background:none;
}

.bottom-content {
  overflow:hidden;
  .left {
    width:310px;
    float:left;
    margin-right:30px;
  }
  
  .right {
    float:left;
    width:150px;
  }
}

table, th, td {
  border:1px solid black;
  border-collapse:collapse;
}

td, th {
  padding:5px 10px;
}

h3 {
  margin-top:25px;
}